.app {
   background: #F5F5F5;
   border-radius: 0.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2em 1em;
   gap: 1em;
   margin: 0;
}

.app-description {
   font-weight: 300;
   width: 90%;
   text-align: center;
}

.dice {
   background: #FFFFFF;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
   width: 3em;
   height: 3em;
   border-radius: 0.5em;
   display: flex;
   cursor: pointer;
}

.dice__held {
   background: #59E391;
}

.dice>* {
   margin: auto;
}

.dice-button {
   display: flex;
   justify-content: center;
}

.dice-container {
   display: grid;
   grid-template: auto auto / repeat(5, 1fr);
   gap: 1em;
}

.dice-messages{
   text-align: center;
}

.dice-card {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.btn {
   border: none;
   background: #5035FF;
   padding: 1em 3em;
   color: white;
   border-radius: 0.5em;
   cursor: pointer;
   flex-shrink: 1;
}

.btn:hover {
   background: #6851FF;
}